{% extends '::base.html.twig' %}

{% block body %}
    <a href="{{ path('tag_new') }}">Create tag</a>
    <br>
    <a href="{{ path('money_new') }}">Create money</a>
    <br>
    <table>
    {% for tag in data %}
        <tr>
            <td>{{ tag.name }}</td>
            <td>edit</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}